.accountForm {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0 0;

  .accountForm-form {
    display: flex;

    flex-direction: column;
    .accountForm-input {
      display: flex;
      flex-direction: column;
      margin: .5rem 0 0 0;

      label {
        width: 15rem;
      }
    }
  }
}
