@import "../../styles/colors";

.header {
  background-color: $alternative-color;
  height: 2.5rem;
  width: 100%;
  padding: 1rem 0 0 0;

  .nav-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        color: $primary-color;
    }
    

    li {
      list-style: none;
    }
  }
}
